.progress-container {
    width: 100%;
    background-color: #ddd;
}

.progress-bar {
    height: 30px;
    background-color: #4CAF50;
    width: 0%; 
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.5s ease-in-out;
}
