.accordion {
    width: 100%;
    max-width: 600px;
}

.accordion-item {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.accordion-header {
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    padding: 0 10px;
}

input[type="checkbox"] {
    display: none;
}

input:checked + .accordion-header + .accordion-body {
    max-height: 1000px;
    padding: 10px;
}
